<section class="mt-5">
  <div class="container">
    <div class="card">
      <div class="card-header">
        Firebase Cloud Storage With Angular
      </div>
      <div class="card-body">
        <h5 class="card-title">Select a file for upload:</h5>
<!--        currently file format supported are .doc,.pdf,.PDF,.DOC,.docx,.DOCX, you can add more formats as well-->
        <input (change)="upload($event)"
               accept=".doc,.pdf,.PDF,.DOC,.docx,.DOCX"
               type="file"/>
        <div class="progress mt-5">
          <div [attr.aria-valuenow]="(uploadProgress | async)" [style.width]="(uploadProgress | async) + '%'"
               aria-valuemax="100" aria-valuemin="0"
               class="progress-bar progress-bar-striped bg-success" role="progressbar"></div>
        </div>
      </div>
      <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info mt-3" role="alert">
        File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
